<!DOCTYPE html>
<head>
    {% load static %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Prueba 1 Desarrollo Web - Pasteleria" />
    <meta name="author" content="Sonia, Maribel y Alvaro" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Icono Pestaña-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/cake.ico' %}" /> <!--CARGANDO ICONO FORMATO DJANGO-->
    <!-- Icono Bloque Servicio-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Fuentes Google-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!--Galeria de fotos, fotos grandes-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" /> <!-- CARGANDO CSS EN FORMATO DJANGO-->
</head>
<body class="crud-bg">

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Portal Pastelería</a>
        
        <span class="navbar-text">Hola {{ user.first_name }} {{ user.last_name }}</span>
        <form class="form-inline" action='/accounts/logout/'>            
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerrar Sesión</button>
        </form>
      </nav>


    <div class="container-fluid">
        
        <div class="row">
            <div class="col-sm-2">
            {% block sidebar %}
                {% if user.groups.all.0.name == "Supervisor" %}
                    <ul class="sidebar-nav">
                        <li><a href="{% url 'portal' %}">Inicio</a></li>
                        <li><a href="{% url 'productos' %}">Producto</a></li>
                        <li><a href="{% url 'pedidos' %}">Pedido</a></li>
                        <li><a href="{% url 'usuario' %}">Usuario</a></li>
                        <li><a href="{% url 'cambiar_clave' %}">Cambiar Clave</a></li>
                    </ul>
                {% else %}
                    <ul class="sidebar-nav">
                        <li><a href="{% url 'portal' %}">Inicio</a></li>
                        <li><a href="{% url 'pedidos' %}">Pedido</a></li>
                        <li><a href="{% url 'cambiar_clave' %}">Cambiar Clave</a></li>
                    </ul>
                {% endif %}
            {% endblock %}
            </div>
            <div class="col-sm-10 ">
            {% block content %}{% endblock %}
            </div>
          </div>

    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- plugins JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- JS -->

</body>