{% extends "base_login.html" %}
{% block title %}Ingresar{% endblock %}
{% block content %}
{% load static %}
    <form class="form-signin" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'assets/img/pastel.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Ingreso al portal</h1>
        
        {% load widget_tweaks %}

        {% render_field form.username placeholder=form.username.label class+="form-control" %}
        {% render_field form.password placeholder=form.password.label class+="form-control" %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>

        
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Usuario o contraseña incorrecta, Intente nuevamente
        </div>
        {% endif %}

        <a href="{% url 'password_reset'%}">¿Olvidó su contraseña?</a>

        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
{% endblock %}
